@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}
@keyframes shoetransform {
    from {
        transform: skew(0, 0);
    }
    50% {
        transform: skew(-20deg, 20deg);
    }
    to {
        transform: skew(0, 0);
    }
}
@keyframes cuptransform {
    from {
        transform: skew(0, 0);
    }
    50% {
        transform: skew(20deg, -20deg);
    }
    to {
        transform: skew(0, 0);
    }
}