@import "base/variables";
* {
    font-family: 'Museo Sans  Cyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
@import "../sass/blocks/promo.scss";
@import "../sass/blocks/header";
@import"../sass/blocks/buttons";
@import"../sass/blocks/advantages";
@import"../sass/blocks/title";