.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
}
.slick-slide img {
    margin: 0 auto;
}
@media (max-width: 769px) {
    .carousel {
        padding-bottom: 45px;
        &__inner {
            width: 635px;
            img {
                width: 100%;
            }
        }
        .slick-prev, .slick-next {
            left: -38px;
        }
        .slick-next {
            right: -38px;
            left: auto;
        }
        ul.slick-dots {
                display: flex;
                margin-top: 30px;
                justify-content: center;
                li {
                    margin-right: 20px;
                    list-style-type: none;
                    button {
                        font-size: 0;
                        width: 10px;
                        height: 10px;
                        background-color: $main-color;
                        border-radius: 50%;
                        border: none;
                    }
                }
            }
    }
}
